.App {
  background: var(--boneColor);
  height: 100vh;
  display: grid;
  align-content: flex-start;
  overflow: hidden;
}

:root {
  --boneColor: #F5F5F4;
  --oxfordBlue: #273654;
  --red: #EA3F56;
  --teal: #44D0F2;
}